
<h1>
  You requested a password reset!
</h1>
<p>
  Here is your link for resetting your password.
</p>
<p>
  https://coffeeroulette.com/password/reset?token=<%= @token %>
</p>
<p>
  This link expires in twenty four hours, therefore be quick!
</p>
