
<h1>How about some coffee??</h1>
<p>
  Heyyyy <% @user.username %>!
  You got a new match with <% @matched_users.pluck(:email).join(" and ") %>!
  <br>
</p>
<p>
  Feel free to get in touch with your new match and have some coffee.
</p>
<p>Thanks for joining and have a great day!</p>
